body{
    font-family: 'Roboto', sans-serif;
}

/*colori*/

.grigio{
    background-color: #f8f9fa;
}

.scuro{
    background-color: #051e34;
}

.blu{
    background-color: #1a6dde;
}

.bordo{
    border: 1px solid black;
}


/*dimensioni*/

.altezza{
    height: 100vh;
}

.d-img img{
    width: 70px;
}

.dim{
    width: 100%;
}

main div .sfondo{
    background-image: url(img/sidebar-bg.png);
}

.pad{
    padding: 10px 0px;
}

/*componenti*/

.bottone{
    background-color: #165bba;
    border-radius: 16px;
    font-size: small;
}

.bot-bianco{
    border: 1px solid white;
    color: white;
    background-color: #1a6dde;
    padding: 6px 13px;
    border-radius: 5px;
    margin-left: 20px;
}