body{
    font-family: 'Roboto', sans-serif;
}

/*colori*/

.grigio{
    background-color: #f8f9fa;
}

.scuro{
    background-color: #051e34;
}

.blu{
    background-color: #1b72e8;
}

.bordo{
    border: 1px solid black;
}

/*dimensioni*/

.altezza{
    height: 100vh;
}

.d-img img{
    width: 70px;
}

.dim{
    width: 100%;
}

main div .sfondo{
    background-image: url(img/sidebar-bg.png);
}

.pad{
    padding: 10px 0px;
}